<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">

            <%- include('includes/messages') %>

            <% if(!user) { %>
                <h1 class="text-center">Olá, seja bem vindo</h1>
                <p class="text-center lead">Entre na sua conta para criar e editar suas tarefas. Caso não tenha cadastre-se</p>
            <% } else { %>
                <h1 class="text-center">Tarefas</h1>

                <div class="col-lg-2"></div>

                <div class="responsive-table">
                    <table class="table my-3">
                        <tr>
                            <th>Título</th>
                            <th>Descrição</th>
                            <th>Vencimento</th>
                        </tr>
                        <tr>
                            <td>nome</td>
                            <td>descrição</td>
                            <td>data</td>
                        </tr>
                    </table>
                </div>
            <% } %>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>
