<%- include('includes/head'); %>

<h1>Tarefas</h1>
<p>Suas tarefas abaixo</p>

<table>
    <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Vencimento</th>
    </tr>
    <tr>
        <td>nome</td>
        <td>descrição</td>
        <td>data</td>
    </tr>

</table>

<%- include('includes/footer'); %>
